In [1]:
import os
os.listdir()

['.idea',
 '.ipynb_checkpoints',
 'data.json',
 'Dictionary-App.py.py',
 'exercises',
 'Sample-Files',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testing.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [2]:
import pandas

In [3]:
df1=pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
df2=pandas.read_json("supermarkets.json")
df2

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [5]:
df3=pandas.read_excel("supermarkes.xlsx",sheetname=[0])
df3

FileNotFoundError: [Errno 2] No such file or directory: 'supermarkes.xlsx'

In [6]:
df3=pandas.read_excel("supermarkets.xlsx",sheetname=[0])
df3

OrderedDict([(0,
                 ID          Address           City             State Country  \
              0   1     3666 21st St  San Francisco          CA 94114     USA
              1   2   735 Dolores St  San Francisco          CA 94119     USA
              2   3      332 Hill St  San Francisco  California 94114     USA
              3   4     3995 23rd St  San Francisco          CA 94114     USA
              4   5  1056 Sanchez St  San Francisco        California     USA
              5   6  551 Alvarado St  San Francisco          CA 94114     USA

                Supermarket Name  Number of Employees
              0          Madeira                    8
              1      Bready Shop                   15
              2      Super River                   25
              3       Ben's Shop                   10
              4          Sanchez                   12
              5       Richvalley                   20  )])

In [7]:
df4=pandas.read_csv("supermarkets_commas.txt")
df4

FileNotFoundError: File b'supermarkets_commas.txt' does not exist

In [8]:
df4=pandas.read_csv("supermarkets_comas.txt")
df4

FileNotFoundError: File b'supermarkets_comas.txt' does not exist

In [9]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df5=pandas.read_csv("supermarkets_semi-colons.txt",sep=";")
df5

FileNotFoundError: File b'supermarkets_semi-colons.txt' does not exist

In [11]:
df5=pandas.read_csv("supermarkets-semi-colons.txt",sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df6=pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [13]:
df6.set_index("Address")

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df6=df6.set_index("Address")

In [15]:
df6

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df6.loc["332 Hill St":"551 Alvarado St","Name":"ID"]

Empty DataFrame
Columns: []
Index: [332 Hill St, 3995 23rd St, 1056 Sanchez St, 551 Alvarado St]

In [ ]:
df6.loc["332 Hill St":"551 Alvarado St","Country":"ID"]